.dropdown-card .card-content {
    padding: 0;
    width: 120px;
}

.dropdown-card {
    top: -7px;;
}

.collection-header {
    background-color: var(--main-plus-one) !important;
    color: var(--main-minus-three) !important;
    cursor: initial;
}