.NavDropdown-card .card-content {
    padding: 0;
    width: 120px;
}

.NavDropdown-card {
    top: -7px;;
}

.NavDropdown-collection-header {
    background-color: var(--main-plus-one) !important;
    color: var(--main-minus-three) !important;
    cursor: initial;
}