.NavBar-welcome-message {
    margin: auto 15px;
}

.NavBar-menu-icon {
    margin-left: 15px;
    display: none;
}

.NavBar-logo-li {
    height: 64px;
    padding: 8px 15px;
}

.NavBar-logo-container {
    background-color: var(--main-minus-one);
    height: 48px;
    width: 48px;
    border-radius: 50%; 
}

.NavBar-logo {
    height: 24px;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    .hide-on-sm-and-down {
        display: none !important;
    }

    .show-on-sm {
        display: block !important;
    }
}