:root {
  --main-minus-three: rgb(23, 85, 44);
  --main-minus-two: hsl(101, 23%, 58%);
  --main-minus-one: rgb(241, 253, 246);
  --main: rgb(169, 192, 190);
  --main-plus-one: rgb(243, 241, 135);
  --main-plus-two: rgb(247, 199, 126);
  --main-plus-three: rgb(224, 154, 74);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background-color: var(--main-minus-one);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  background-color: var(--main-minus-three);
}

.btn-danger {
  background-color: crimson;
}

nav {
  background-color: var(--main-minus-two);
}

a {
  color: var(--main-minus-two);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--main-minus-three)
}

.row-center-card, .row-user-form {
  display: flex;
}

.row-user-form {
  margin-top: 25vh;
}

.row-user-form .col.s12, .row-center-card .col.s12 {
  margin: auto;
}

.mt15vh {
  margin-top: 15vh;
}

.inline-el {
  display: inline;
  margin: 0 1rem;
}

.button-row {
  margin: 15px 0;
}